@import url('https://fonts.googleapis.com/css?family=Pangolin'); 

html, body, [class*="css"] {
  font-family: 'Pangolin', serif; 
  font-weight: 500;
  color: #091747;
  text-align: center;
}

.text-container {
  border: 2px solid black;
  box-sizing: border-box;
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
	gap: rem;
  background: lightcyan;
	padding: 0.75rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.text {
  font-size: 30px;
  color: black;

}

.text-small {
  font-size: 15px;
  color: black;
}

.button {
  background-color:white; 
  align-items:center; 
  border-radius:10px;
}